[kde_opt1_v]
valid_mode_on = true
n_cell_x = 20
n_cell_y = 70
x_border = 0.02
y_border = 0.025
th = 12
model_list = kde_opt1
output_path = ./

[kde_opt1_t]
valid_mode_on = false
n_cell_x = 20
n_cell_y = 70
x_border = 0.02
y_border = 0.025
th = 12
model_list = kde_opt1
output_path = ./

[kde_opt2c_v]
valid_mode_on = true
n_cell_x = 20
n_cell_y = 50
x_border = 0.01
y_border = 0.15
th = 15
model_list = kde_opt2c
output_path = ./

[kde_opt2c_t]
valid_mode_on = false
n_cell_x = 20
n_cell_y = 50
x_border = 0.01
y_border = 0.15
th = 15
model_list = kde_opt2c
output_path = ./

[kde_opt3c_v]
valid_mode_on = true
n_cell_x = 20
n_cell_y = 50
x_border = 0.01
y_border = 0.15
th = 15
model_list = kde_opt3c
output_path = ./

[kde_opt3c_t]
valid_mode_on = false
n_cell_x = 20
n_cell_y = 50
x_border = 0.01
y_border = 0.15
th = 15
model_list = kde_opt3c
output_path = ./

[kde_opt4_v]
valid_mode_on = true
n_cell_x = 20
n_cell_y = 50
x_border = 0.01
y_border = 0.15
th = 15
model_list = kde_opt4
output_path = ./

[kde_opt4_t]
valid_mode_on = false
n_cell_x = 20
n_cell_y = 50
x_border = 0.01
y_border = 0.15
th = 15
model_list = kde_opt4
output_path = ./