[xgb0_n2_v]
valid_mode_on = true
n_cell_x = 40
n_cell_y = 60
x_border = 0.03
y_border = 0.015
th = 5
model_list = xgb0
output_path = ./

[xgb0_n2_t]
valid_mode_on = false
n_cell_x = 40
n_cell_y = 60
x_border = 0.03
y_border = 0.015
th = 5
model_list = xgb0
output_path = ./
gx_ids = 26, 40

[xgb0_n4_v]
valid_mode_on = true
n_cell_x = 60
n_cell_y = 80
x_border = 0.03
y_border = 0.015
th = 5
model_list = xgb0
output_path = ./

[xgb0_n4_t]
valid_mode_on = false
n_cell_x = 60
n_cell_y = 80
x_border = 0.03
y_border = 0.015
th = 5
model_list = xgb0
output_path = ./

[xgb0_n4_th13_border5_v]
valid_mode_on = true
n_cell_x = 60
n_cell_y = 80
x_border = 0.05
y_border = 0.015
th = 13
model_list = xgb0
output_path = ./

[xgb0_n4_th13_border5_t]
valid_mode_on = false
n_cell_x = 60
n_cell_y = 80
x_border = 0.05
y_border = 0.015
th = 13
model_list = xgb0
output_path = ./

[xgb150opt_v]
valid_mode_on = true
n_cell_x = 60
n_cell_y = 80
x_border = 0.05
y_border = 0.015
th = 13
model_list = xgb150opt
output_path = ./

[xgb150opt_t]
valid_mode_on = false
n_cell_x = 60
n_cell_y = 80
x_border = 0.05
y_border = 0.015
th = 13
model_list = xgb150opt
output_path = ./

[xgb150opt2_v]
valid_mode_on = true
n_cell_x = 40
n_cell_y = 100
x_border = 0.05
y_border = 0.015
th = 10
model_list = xgb150opt2
output_path = ./

[xgb150opt2_t]
valid_mode_on = false
n_cell_x = 40
n_cell_y = 100
x_border = 0.05
y_border = 0.015
th = 10
model_list = xgb150opt2
output_path = ./