[svc_rbf_xyat_v]
valid_mode_on = true
n_cell_x = 40
n_cell_y = 60
x_border = 0.03
y_border = 0.015
th = 5
model_list = svc_rbf_xyat
output_path = ./

[svc_rbf_xyat_n2_v]
valid_mode_on = true
n_cell_x = 150
n_cell_y = 150
x_border = 0.03
y_border = 0.015
th = 5
model_list = svc_rbf_xyat
output_path = ./

[svc_rbf_xyat_n3_v]
valid_mode_on = true
n_cell_x = 100
n_cell_y = 100
x_border = 0.03
y_border = 0.015
th = 5
model_list = svc_rbf_xyat
output_path = ./

[svc_rbf_xyat_n4_v]
valid_mode_on = true
n_cell_x = 20
n_cell_y = 40
x_border = 0.03
y_border = 0.015
th = 5
model_list = svc_rbf_xyat
output_path = ./

[svc_lin_xyat_v]
valid_mode_on = true
n_cell_x = 40
n_cell_y = 60
x_border = 0.03
y_border = 0.015
th = 5
model_list = svc_lin_xyat
output_path = ./

[svc_rbf_xyatu_v]
valid_mode_on = true
n_cell_x = 40
n_cell_y = 60
x_border = 0.03
y_border = 0.015
th = 5
model_list = svc_rbf_xyatu
output_path = ./

[svc_lin_xyatu_v]
valid_mode_on = true
n_cell_x = 40
n_cell_y = 60
x_border = 0.03
y_border = 0.015
th = 5
model_list = svc_lin_xyatu
output_path = ./