[160628-3_v]
valid_mode_on = true
model_output_paths = ../single_model/knn/knn_ps2_n1_v, ../single_model/xgb/xgb0_n4_v, ../single_model/xgb/xgb0_n2_v, ../single_model/xgb/xgb0_n4_th13_border5_v

[160628-3_t]
valid_mode_on = false
model_output_paths = ../single_model/knn/knn_ps2_n1_t, ../single_model/xgb/xgb0_n4_t, ../single_model/xgb/xgb0_n2_t, ../single_model/xgb/xgb0_n4_th13_border5_t

[160705-4_v]
valid_mode_on = true
model_output_paths = ../single_model/knn/knn_ps2_n1_v, ../single_model/xgb/xgb0_n4_v, ../single_model/xgb/xgb0_n2_v, ../single_model/xgb/xgb0_n4_th13_border5_v, ../single_model/xgb/xgb150opt_v, ../single_model/xgb/xgb150opt2_v, ../single_model/rf/rf_opt1_v, ../single_model/nb/nb_xyat_weight1_n9_v, ../single_model/kde/kde_opt1_v, ../single_model/kde/kde_opt2c_v, ../single_model/kde/kde_opt3c_v, ../single_model/kde/kde_opt4_v, ../single_model/et/et_opt1_v

[160705-4_t]
valid_mode_on = false
model_output_paths = ../single_model/knn/knn_ps2_n1_t, ../single_model/xgb/xgb0_n4_t, ../single_model/xgb/xgb0_n2_t, ../single_model/xgb/xgb0_n4_th13_border5_t, ../single_model/xgb/xgb150opt_t, ../single_model/xgb/xgb150opt2_t, ../single_model/rf/rf_opt1_t, ../single_model/nb/nb_xyat_weight1_n9_t, ../single_model/kde/kde_opt1_t, ../single_model/kde/kde_opt2c_t, ../single_model/kde/kde_opt3c_t, ../single_model/kde/kde_opt4_t, ../single_model/et/et_opt1_t