[nb_xyat_weight1_n9_v]
valid_mode_on = true
n_cell_x = 200
n_cell_y = 200
x_border = 0.03
y_border = 0.015
th = 5
model_list = nb_xyat_weight1
output_path = ./

[nb_xyat_weight1_n9_t]
valid_mode_on = false
n_cell_x = 200
n_cell_y = 200
x_border = 0.03
y_border = 0.015
th = 5
model_list = nb_xyat_weight1
output_path = ./
