[knn_ps2_n1_v]
valid_mode_on = true
n_cell_x = 20
n_cell_y = 40
x_border = 0.027
y_border = 0.015
th = 5
time_edge = 2.5
model_list = knn_ps2
output_path = ./

[knn_ps2_n1_t]
valid_mode_on = false
n_cell_x = 20
n_cell_y = 40
x_border = 0.027
y_border = 0.015
th = 5
time_edge = 2.5
model_list = knn_ps2
output_path = ./